---
const today = new Date();
---

<!-- Footer.astro -->
<footer class="bg-slate-50 text-gray-800 py-8 fixed bottom-0 w-full">
    <div class="flex justify-center items-center">
        <div class="mr-4">
            <a href="https://github.com/videshravi27" target="_blank" rel="noopener noreferrer" class="text-gray-800 hover:text-gray-600 mr-4">GitHub</a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/videsh-r-v-544461243/" target="_blank" rel="noopener noreferrer" class="text-gray-800 hover:text-gray-600">LinkedIn</a>
        </div>
    </div>
</footer>


<div class="justify-center items-center flex">
<footer>
	&copy; {today.getFullYear()} Videsh. All rights reserved.
</footer>
</div>

<!-- <style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style> -->
